<ion-header>
  <ion-navbar>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title text-right> {{kafalasPerKafil.length}} لائحة الكفلاء المتأخري الدفع</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab bottom center bottom >
    <button ion-fab mini (click) = "sendSMSToAll()" color="danger"><ion-icon name="mail"></ion-icon></button>
    
  </ion-fab>
  <ion-list>
   

    <ion-item *ngFor="let kafils of kafalasPerKafil"  (click)="expandItem(kafils)">
    
      <button ion-item>
      <div>
              <ion-icon name="mail"></ion-icon>
        {{getRemindersSent(kafils[0].kafil.reminders)}}
      </div>
      <div class="item-note" item-end>
      {{kafils[0].kafil.nom}} {{kafils[0].kafil.prenom}} <ion-icon name="person" color ="primary"></ion-icon> 
      </div> 
    </button>
    <expandable [expandHeight]="itemExpandHeight" [expanded]="kafils.expanded">
       <span ion-text >  {{kafils[0].kafil.tel}} :  <ion-icon name="call" color="primary"></ion-icon> </span>
  
       <div *ngFor="let kafala of kafils" >     
          <span>  <span ion-text color="primary"> الطفل : </span> {{kafala.enfant.fullName}}   /  </span>
           <span> الشهور غير المؤدات: {{getUnpaidMonths(kafala)}} </span>
            <hr>
         
       </div>
      <button ion-button color="primary"  (click)="sendSMS(kafils)">
        <ion-icon name="mail"></ion-icon>
       
      </button>
      <button ion-button color="danger"  (click)="callNumber(kafils)">
      <ion-icon name="call"></ion-icon>
      
      </button>
      
   </expandable>

      
   
    
    
  </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
