<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>الكفالات المتأخرة</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab bottom right bottom>
    <button ion-fab mini (click) = "sendSMSToAll()"><ion-icon name="mail"></ion-icon></button>
    
  </ion-fab>
  <ion-list>
   

    <ion-item *ngFor="let kafils of kafalasPerKafil"  (click)="expandItem(kafils)">
    <ion-item >
      <button ion-item>
      <div>
              <ion-icon name="mail"></ion-icon>
        {{getRemindersSent(kafils[0].kafil.reminders)}}
      </div>
      <div class="item-note" item-end>
      {{kafils[0].kafil.nom}} {{kafils[0].kafil.prenom}} <ion-icon name="person" color ="primary"></ion-icon> 
      </div> 
    </button>
    <expandable [expandHeight]="itemExpandHeight" [expanded]="kafils.expanded">
       <span ion-text >  {{kafils[0].kafil.tel}} :  <ion-icon name="call" color="primary"></ion-icon> </span>
       <hr>
       <div *ngFor="let kafala of kafils" >     
          <span>  <span ion-text color="primary"> الطفل : </span> {{kafala.enfant.fullName}}   /  </span>
           <span> الشهور غير المؤدات: {{getUnpaidMonths(kafala)}} </span>
            <hr>
         
       </div>
      <button ion-button color="primary"  (click)="sendSMS(kafils)">
        <ion-icon name="mail"></ion-icon>
       
      </button>
      <button ion-button color="danger">
        <ion-icon name="call"></ion-icon>
      
      </button>
   </expandable>

      
    </ion-item>
    <ion-item-options side="left">
     
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="primary" (click) ="sendSMSToAll()" >
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
    </ion-item-options>
  </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
