expandable {
     .collapsed {
        height: 0 !important;
    }
    .expand-wrapper {
        transition: 0.2s linear;
        height : auto;
        text-align: right;
        padding-right: 16px;
        padding-top: 10px;
    }  
 
   
}
